{% extends "base.html"%}

{% block title %}
    <title>forgot password</title>
{% endblock %}

{% block header %}
    <h1>Forgot Password</h1>
{% endblock %}

{% block body %}
   <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
       {% for msg in messages %}
            <div class="alert {{msg.tags}} alert-dismissible fade show" role="alert">
                <strong>{{msg}}</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
       {% endfor %}
        <form method="post" action="">
            {% csrf_token %}
              <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="text" name="username" id="form1Example13" class="form-control form-control-lg"
                    required="true"/>
                    <label class="form-label" for="form1Example13">Username</label>
                </div>

              <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" name="password" id="password" class="form-control form-control-lg"
                    required="true"/>
                    <label class="form-label" for="password">New Password</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="password" name="password_confirm" id="form1Example23" required="true"
                        class="form-control form-control-lg" required="true"/>
                    <label class="form-label" for="password">New Confirm-Password</label>
                </div>
                <span id='checkboxx'>
                    <input type="checkbox" id='check' onclick="visibility()">Show Password
                </span>

                <input type="submit" value="Save Password" class="btn btn-primary btn-lg btn-block"/>
                <div class="signin-grid">
                    <a class="btn btn-primary btn-lg btn-block"
                       style="margin-top:8px" href="/signin">Login</a>
                    <a class="btn btn-primary btn-lg btn-block" href="{% url 'signup-page'%}">Create Account</a>
                </div>
       </form>
   </div>
{% endblock %}