
body
{
	margin: 5% 5% 5%;
	/*background-color: #34495e;*/
	background-color: #051922;
	/*background: url('/static/images/428.jpg');*/
	background-blend-mode: screen;
	overflow: hidden;
}

#box
{   
  padding-top: 50px;
  width: 350px;
  height: 31em;
  margin: 5% auto;
  background-color: #f2f2f2;
  border-radius: 15px;
  position: relative;
  transition:  margin .8s;
  box-shadow: 12px 12px 30px;
}

h1
{
	position: absolute;
	left:2.2cm;
	margin: 5px;
	text-align: center;
	font-family: sans-serif;
	font-variant: small-caps;
}

.text,.pass,.site
{
  border:none;
  outline: none;
  /*border-bottom: 3px solid #006699;*/
  border-bottom: 3px solid #051922;
  padding: 10px 7px 3px;
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  text-align: left;
  width:6cm;
  background: transparent;
  transition: border-radius 1s;
  transform: translate(1.5cm,2cm);
}

.pass
{
	transform: translate(1.5cm,2.2cm);
}

.site
{
	transform: translate(1.5cm,1.8cm);
}

.text:focus,.pass:focus,.site:focus
{
   /*background-color: rgba(230,230,230,.7);*/
   border-color: purple;
   border-radius: 15px;
}

input[type='submit']
{
	border-radius: 5px;
	margin: 5px;
	transform: translate(2.5cm,4cm);
	padding: 8px;
	border:none;
	outline: none;
	width: 150px;
	cursor: pointer;
	color:white;
	text-transform: uppercase; 
	font-weight: bold;
	/*background-color: #006699;*/
	background-color: #051922;
	box-shadow: 2px 2px 5px #000;
}

input[type='submit']:hover
{
  background-color: #8e44ad;
  cursor: pointer;
  transition: .5s;
  border:none;
  outline: none;
}

.notify{
    position:relative;
    bottom:16mm;
    height:25px;
    color: #fff;
    text-align:center;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.notify > span{
    font-size:17px;
    position:relative;
    top: 5px;
    text-transform:uppercase;
    font-weight:bold;
    font-family: sans-serif;
	font-variant: small-caps;
}

.navigation-bar{
    width: 100%;
    height: 50px;
    transition: height .8s;
    position: absolute;
    top: 2cm;
    left: 3cm;
 }
.navigation-bar ul {
    display: inline-flex;
    margin: 10px;
    font-size: 18px;
    font-variant: small-caps;
}
.navigation-bar >ul >li {
    list-style-type: none;
    margin-left: 15px;
    transform: translate(-160px, -60px);
    cursor:pointer;
 }
 .navigation-bar >ul >li>a{
    text-decoration:none;
    color: #fff;
 }

 .user-recover{
        position: relative;
        left: 27cm;
    }
 .user-home{
    position: relative;
    left: 50vw;
    transition: 1s;
 }
.close{
    border: 2px solid #ff3333;
    border-radius: 20px;
    padding: 2px 5px;
 }
.alert{
    background-color:#ff3333;
    transform: translate(0px, -30px);
}

 .alert> span{
    background-color:#ff3333;
    font-size:18px;
	transform: translate(0px, -30px);
	color:#fff;
	font-variant: small-caps;
	margin-left: 40px;
 }

 @-moz-document url-prefix() {
     .alert> span{
         font-size:16px;
     }
}

#checkboxx
{
	position: relative;
    margin: -11vh;
    top: 16vh;
	font-family: sans-serif;
	font-variant: small-caps;
	font-size: 15px;
}

.far{
    cursor: pointer;
    left: 20px;
    position: relative;
}

.myTooltip{
    top: 24vh;
    position: absolute;
    left: 33vh;
    font-weight: bold;
    font-family: sans-serif;
    font-variant: small-caps;
    font-size: 12px;
}


.page-not-found{
    color: #fff;
    margin: 0 30%;
    font-size: 18px;
}



.cards{
  display: inline-flex;
  flex-direction: row;     /* flex-flow: row wrap;  flex-direction + flex-wrap */
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-body{
    width: 300px;
    height: 150px;
    border-radius: 12px;
    box-shadow: 9px 8px 10px #000;
    margin: 8px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.container{
    margin-left: 8%;
    position: relative;
    overflow-wrap: break-word;
}

.website{
    /*text-align: center;*/
    text-transform: capitalize;
    max-width: 12em;
}

.element{
    position: absolute;
    right:35px;
}

#dashcheck{
    top:80px;
}

#trash{
    top:3px;
}

#edit-pen{
    position: absolute;
    left: 12em;
    top: 2px;
}

#password{
    background: transparent;
    border: none;
    outline: none;
}

.dashboard_img_center
{
    position: absolute;
    top: 200px;
    left: 450px;
}

.ghost_text
{
    position: relative;
    color: #fff;
    top: 400px;
    left: 450px;
}

#search_bar{
    margin-top: 2px;
    height: 2em;
    width: 50em;
    cursor:pointer;
    font-size:15px;
    border-radius: 8px;
    padding-left: 10px;
    box-sizing:border-box;
    transition: 1s width;
}

.api-doc{
    color: #fff;
}

@media screen and (max-width: 500px)
{

    #box{
      padding-top: 50px;
      width: 350px;
      height: 31em;
      margin: 30% auto;
      background-color: white;
      border-radius: 15px;
      position: relative;
      transition: 2s;
    }
    .user-recover,.user-home{
        position: relative;
        left: 0cm;
	    transition: 1s;
    }
        #search_bar{
        margin-top: 2px;
        height: 2em;
        width: 15em;
        cursor:pointer;
        font-size:15px;
        border-radius: 8px;
        padding-left: 10px;
        box-sizing:border-box;
        transition: 1s width;
    }
}

@media screen and (max-width: 900px)
{

    #box{
      padding-top: 50px;
      width: 350px;
      height: 31em;
      margin: 20% auto;
      background-color: white;
      border-radius: 15px;
      position: relative;
      transition: 2s;
    }
    .user-recover,.user-home{
        position: relative;
        left: 0cm;
	    transition: 1s;
    }

    .notification{
        transform: translateY(55px);
    }

        #search_bar{
        margin-top: 2px;
        height: 2em;
        width: 20em;
        cursor:pointer;
        font-size:15px;
        border-radius: 8px;
        padding-left: 10px;
        box-sizing:border-box;
        transition: 1s width;
    }
}

@media screen and (max-width: 450px)
{
    .dashboard_img_center
    {
        width: 400px;
        right: 20px;
        top: 150px;
        position: relative;
        left: 0px;
    }

    .ghost_text{
         position: relative;
         top: 130px;
         left: -20px;
         font-size: 14px;
    }
}

.notification{
    text-align: center;
    color: #f3f3f3;
    background-color: crimson;
    border-radius: 10px;
    padding: 5px;
}








