<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static '/css/password_manager.css' %}">
    <style>
        body{
            overflow:scroll;
        }
        a{
            color: rgba(5, 25, 34, 0.2);
        }

        a:hover{
            color: #051922;
        }

    </style>
    <title>Dashboard</title>
</head>
<body>
    <div class="navigation-bar">
        <ul>
            <li><a href="/manager/save">Home</a></li>
            <li><a href="/manager/update/">Update</a></li>
            <li><a href="/manager/export/">Export</a></li>
            <li><a href="/signout">Logout</a></li>
            <li class="user-home"><a>Hi {{data.user}}</a></li>
        </ul>
    </div>
    </br>
    </br>
    <div class="cards">
        {% if cred_container %}
            {% for cred in cred_container %}
                <div class="card-body">
                    <div class="container">
                        <div class="website">
                            <h4>
                                {{cred.0}}
                                <a href="{% url 'recovery-page' %}{{cred.0}}">
                                    <i class="fa-solid fa-trash element" id="trash"></i>
                                </a>
                            </h4>
                        </div>
                        <div class="username">
                            <h5>{{cred.1}}</h5>
                        </div>
                        <div class="password">
                            <input type="password" id="password" value="{{cred.2}}" readonly="true">
                            <input type="checkbox" class="element" id='dashcheck' onclick="toggle_check(event)"/>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <img class="dashboard_img_center" src="{% static 'images/ghost.png' %}">
            <p class="ghost_text">To Make me disappear save your first password</p>
        {% endif %}
    </div>
    <script src="{% static '/js/password_manager.js' %}"></script>
    <script src="https://kit.fontawesome.com/9d51f353dc.js" crossorigin="anonymous"></script>
</body>
</html>