{% extends 'password_manager_base.html' %}

{% block title %}
	<title>{{data.title}}</title>
{% endblock %}

{% block navigation %}
	<div class="navigation-bar">
		<ul>
			<li><a href="/manager/dashboard/">Dashboard</a></li>
			<li><a href="/manager/export/">Export</a></li>
			<li><a href="/manager/import/">Import</a></li>
			<li><a href="/signout">Logout</a></li>
			<li class="user-home"><a>Hi {{data.user}}</a></li>
		</ul>
	</div>
{% endblock %}

{% block content %}
	<p class="notification">Hi Users, we are planning to upgrade our password encryption, for this you might lost your password<br/>
	we request you to take backup by exporting your credentials, once the password encryption is done, you can again<br/>
	make your credential import using exported excel sheet via this application.<br/>
	Please export your credentials before 31-May-2024.</p>
	<form id="box" action="" method="post" onsubmit="return checkPasswordLength()">
		{% csrf_token %}
		<h1>{{data.header}}</h1>
		{% if data.website %}
			<input type="text" class="site" name="site" value={{data.website}} readonly="True">
			<input type="text" class="text" name="text" value={{data.username}} readonly="True">
			<input type="text" class="pass" value={{data.password}} readonly="True">
		{% else %}
			{% if data.msg %}
				<div class="notify" style="background-color:{{data.color}};">
					<span>{{data.msg}}</span>
				</div>
			{%endif%}
			<input type="text" class="site" name="site" placeholder='Website' required="True">
			<input type="text" class="text" name="text" placeholder="Username" required="True">
			<input type="password" class="pass" name="password" placeholder="Password" required="True">
			<span id='checkboxx'>
				<input type="checkbox" onclick="toggle_check(event)">Show Password
			</span>
			<br/><br/>
			<input id="submit" type="submit" value="Save">
		{% endif %}
	</form>
{% endblock %}
