{% extends 'password_manager_base.html' %}

{% block title %}
	<title>{{data.title}}</title>
{% endblock %}

{% block navigation %}
	<div class="navigation-bar">
		<ul>
			<li><a href="/manager/save">Home</a></li>
			<li><a href="/manager/recovery/">Recover</a></li>
			<li><a href="/signout">Logout</a></li>
			<li><a style="position: relative;left: 25cm;">Hi {{data.user}}</a></li>
		</ul>
	</div>
{% endblock %}

{% block content %}
	<form id="box" action="" method="post">
		{% csrf_token %}
		<h1>{{data.header}}</h1>
		{% if data.website %}
			<input type="text" id="site" name="site" value={{data.website}} readonly="True">
			<input type="text" id="text" name="text" value={{data.username}} readonly="True">
			<input type="text" id="pass" value={{data.password}} readonly="True">
		{%else%}
			{% if data.flag == 'success' %}
				<div class="notify" style="background-color:#47d147;">
					<span>{{data.msg}}</span>
				</div>
		    {%elif data.flag == 'exist'%}
				<div class="notify" style="background-color:#ffa31a;">
					<span>{{data.msg}}</span>
				</div>
			{%endif%}
			<input type="text" id="site" name="site" placeholder='Website' required="True">
			<input type="text" id="text" name="text" placeholder="Username" required="True">
			<input type="password" id="pass" name="password" placeholder="Password" required="True">
			<br/><br/>
			<input id="submit" type="submit" value="Save">
		{%endif%}
		<p style="transform:translate(2.4cm,4cm); ">Forget Password?
			<a style="text-decoration: none;" href="/manager/recovery/">Recover</a></p>
	</form>
{% endblock %}
