{% extends 'password_manager_base.html' %}

{% block title %}
	<title>{{data.title}}</title>
{% endblock %}

{% block navigation %}
	<div class="navigation-bar">
		<ul>
			<li><a href="/manager/save">Home</a></li>
			<li><a href="/signout">Logout</a></li>
			<li><a style="position: relative;left: 27cm;">Hi {{data.user}}</a></li>
		</ul>
	</div>
{% endblock %}

{% block content %}
	<form id="box" action="" method="post">
		{% csrf_token %}
		<h1>{{data.header}}</h1>
		{% if data.flag == 'failed' %}
			<div class="notify" style="background-color:#ff3333;">
				<span>{{data.msg}}</span>
			</div>
		{%endif%}
		{% for msg in messages %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert"
				 style="background-color:#ff3333;font-size:16px;
				 transform: translate(0px, -30px);color:#fff">
				<span style="margin-left: 50px;">{{msg}}</span>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true" style="cursor:pointer;font-size:20px;padding:0 15px">&times;</span>
				</button>
			</div>
	    {% endfor %}
		<input type="text" name="site" id="site" placeholder="Website" required="True"></p>
		<input type="password" name="pass" id="pass" placeholder="master password" required="True"></p>
        <input type="text" name="hash" id="hash" hidden="true"></p>
		<input id="submit" type="submit" value="submit"/>
<!--		<p style="transform:translate(2.2cm,4cm); ">-->
<!--			want to save password?-->
<!--		<a style="text-decoration: none;" href="/manager/save">Save</a></p>-->
	</form>
{% endblock %}
